body {
    background-color: skyblue;
}
#clockcontainer {
    position: relative;
    background: url('clock.png');
    background-size: 100%;
    height: 40vw;
    width: 40vw;
    margin: auto;
    margin-top: 4rem;
}
#hour, #minute, #second {
    position:absolute;
    background-color: black;
    border-radius: 10px;
}
#hour {
    width: 2%;
    height: 26%;
    top: 24%;
    left: 48.8%;
    transform-origin: bottom;
}
#minute {
    width: 1.7%;
    height: 32%;
    top: 18%;
    left: 49%;
    transform-origin: bottom;
}
#second {
    width: 1.2%;
    height: 38%;
    top: 12%;
    left: 49.2%;
    transform-origin: bottom;
    background: linear-gradient(to bottom, #ff0000 91%, #000000 9%);
}

@media only screen and (max-width: 400px) {

    #clockcontainer {
        margin-top: 15rem;
    }

}